<%- include('partials/header') %>

<li><a href="/user/signup">Sign Up</a></li>
<li><a href="/user/logout">Logout</a></li>
<li><a href="/user/login">Sign In</a></li>

<%- include('partials/footer') %>
